.MainContainer{
  width:100%;
  min-height:30px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: var(--main-bg-color);

}

.SecondaryContainer{
  width:90%;
  min-height:500px;
}
