:root {
  --main-bg-color: #0f0f0f;
  --main-border-color: #1fa4d3;
  --main-fore-color: #1fa4d3;
  --main-hover-bg-color:#494646;

  --hover-fore-color: #00bbfe;

  --secondary-bg-color:#212121;
  --secondary-fore-color: #07759b;
  --secondary-border-color: #07759b;

  --primary-bg-color:#132328;
  --primary-fore-color:#00bbfe;
  --primary-border-color:#1161bc;
  
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color:var(--main-bg-color);
    color:#000;
    width:100%;
}