:root {
  --main-bg-color: #fff;
  --secondary-bg-color:#f0f2f570;


  --main-fore-color: #000;
  --secondary-fore-color: #788EBA;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color:var(--main-bg-color);
    color:#000;
    width:100%;
}



